$black-color: #1c1c1c;
$white-color: #ffffff;
$bg-color: #f7fafc;

$gray-color: #acacac;
$light-gray: #dee2e7;

$primary-color: #0d6efd;
$gradient-color: linear-gradient(96.14deg, #127fff 0%, #69a6ff 100%);

// Btn buy
$light-blue: #6ba8ff;
$dark-blur: #0859d0;

// btn pay
$green-color: #00b517;
$light-green: #00c719;
$dark-green: #008110;

// other
$easy-green: #d9ffde;
$red-color: #eb001b;
