.accessories-card {
   width: 172px;

   /* Mobile Small */
   @media (max-width: 389px) {
      width: 100%;
   }
}
.accessories-card__img {
   width: 100%;
   margin-bottom: 13px;
   background-color: $white-color;

   background: #ffffff;
   border: 1px solid #dee2e7;
   border-radius: 6px;
   overflow: hidden;

   img {
      width: 170px;
      max-height: 100%;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      margin-bottom: 16px;
   }
}
.accessories-card__title {
   margin-bottom: 11px;
   font-weight: 400;
   font-size: 12px;
   color: $black-color;
}
.accessories-card__cost {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.accessories-card__price {
   font-weight: 400;
   font-size: 12px;
   color: #8b96a5;
}

.accessories-card__btn {
   padding: 0 4px;
   height: 25px;

   span {
      font-weight: 400;
      font-size: 12px;
   }
}
