.card-small {
   max-width: 216px;
   height: 353px;
   padding: 16px;
   position: relative;

   display: flex;
   flex-direction: column;

   background: $white-color;
   border: 1px solid #dee2e7;
   border-radius: 6px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      display: none !important;
   }

   .card__new {
      height: 23px;
      padding: 0 12px;

      span {
         font-weight: 700;
         font-size: 12px;
         line-height: 1.25;
         letter-spacing: unset;
         color: $white-color;
      }
   }

   & > * {
      flex-shrink: 0;
   }
}
.card-small__img {
   width: 184px;
   height: 140px;
   margin-bottom: 8px;
}
.card-small__title {
   margin-bottom: 8px;
   font-weight: 400;
   font-size: 14px;
   color: $black-color;
   flex-shrink: 0;
}
.card-small__reviews {
   display: flex;
   align-items: center;
   column-gap: 12px;
   flex-shrink: 0;
   & > * {
      flex-shrink: 0;
   }
}
.card-small__reviews-rate {
   display: flex;
   align-items: center;
   column-gap: 4px;

   img {
      width: 12px;
      height: 12px;
   }

   & > .rate {
      font-size: 12px;
   }
}

.card-small__reviews-review {
   display: flex;
   align-items: center;
   column-gap: 4px;
   flex-shrink: 0;

   img {
      width: 10px;
      height: 10px;
   }

   & > .orders-count {
      font-size: 12px;
   }
}
.card-small__cost {
   margin-top: auto;
   margin-bottom: 8px;
   font-weight: 600;
   font-size: 20px;
   color: $black-color;

   &-mb {
      margin-bottom: 16px;
   }
}
.card-small__cashback {
   display: flex;
   align-items: center;
   flex-shrink: 0;
   column-gap: 4px;
   margin-bottom: 16px;

   font-weight: 400;
   font-size: 12px;
   color: $red-color;

   img {
      max-width: 16px;
      max-height: 16px;
      width: 100%;
      height: 100%;
   }
}
.card-small__buy {
   display: flex;
   align-items: center;
   column-gap: 8px;
}
.btn {
}
