.show-more {
   display: flex;
   align-items: center;
   column-gap: 12px;

   & > .dropdown > .dropdown__btn {
      width: 195px;
   }
}

.show-more__box {
   position: relative;
}

.show-more__btn {
   padding: 12px 14px 12px 10px;
}
