.all-news {
   padding: 68px 0 171px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      padding: 30px 0 100px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      padding: 0px 0 60px;
   }
}

.page-nav--news {
   padding: 20px 0;

   .page-nav__item {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;

      color: #acacac;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      font-weight: 400;
      font-size: 16px !important;
      line-height: 1.5;

      color: #acacac;
   }
}

.all-news__title {
   margin-bottom: 72px;

   &::after {
      bottom: -20%;
      /* Tablet Small*/
      @media (max-width: 899px) {
         width: 130px;
      }

      /* Mobile*/
      @media (max-width: 599px) {
         bottom: -65%;
      }
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      margin-bottom: 56px;
   }
}

.all-news__row {
   display: flex;
   flex-wrap: wrap;
   column-gap: 56px;
   row-gap: 20px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      & > *:not(:nth-child(-n + 4)) {
         display: none;
      }

      .card__new--hide {
         display: none;
      }
   }
}
