.password-change {
   padding: 60px 0 177px;

   /* Tablet Big */
   @media (max-width: 1199px) {
      padding: 50px 0 177px;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      padding: 45px 0 177px;
   }
   /* Mobile*/
   @media (max-width: 599px) {
      padding: 36px 0 615px;
   }
}

.password-change__title {
   margin-bottom: 56px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      &::after {
         content: none;
      }
      margin-bottom: 40px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      margin-bottom: 20px;
   }
}
.password-change__container {
   position: relative;
}
.password-change__form {
   display: none;
   &.active {
      display: block;
   }

   .input-label {
      &:last-of-type {
         margin-bottom: 60px;

         /* Tablet Small*/
         @media (max-width: 899px) {
            margin-bottom: 40px;
         }
      }
   }
}

.password-change__btn {
   width: 203px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      width: 100%;
   }
}
