.payment {
   padding: 60px 0 187px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      padding: 20px 0 100px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      padding: 0 0 60px;
   }
}

.payment__title {
   margin-bottom: 76px;

   /* Mobile*/
   @media (max-width: 599px) {
      margin-bottom: 56px;

      &::after {
         width: 130px;
      }
   }
}

.page-nav--payment {
   padding: 20px 0;

   /* Mobile*/
   @media (max-width: 599px) {
      .page-nav__item {
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: -0.2px;
         color: #8b96a5;
      }
   }
}

.payment__row {
   & > *:last-child {
      margin-bottom: 0;
   }
}
.payment__descr {
   margin-bottom: 20px;
   &:last-of-type {
      margin-bottom: 40px;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      margin-bottom: 40px;
   }
}
.payment__descr-title {
   margin-bottom: 8px;

   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   color: $black-color;
   text-align: justify;

   /* Tablet Small*/
   @media (max-width: 899px) {
      margin-bottom: 20px;
   }
}
.payment__descr-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   color: $gray-color;
   text-align: justify;

   & + & {
      margin-top: 24px;
   }
}
